{% extends 'base.html' %}

{% block content %}
    <div class="hero-unit">
        <h1>Join Django Sprint in Kraków!</h1>

        <h2>15th and 16th of February 2014</h2>

        <p>Come and join us in an effort to smash Django bugs.
          We'll have room, Internet, some energy drinks and lots
            of Djangonauts. </p>

        <p>We'll be there from 10am, official kick-off at noon. Coding will take place
            non-stop until second day 8pm.</p>

    </div>
    <div class="row">
        <div class="span4">
            <h2>Registration</h2>
            <p>Help us organize this event and fill the registration form on
              Eventbrite.</p>
            <p><a href="https://django-sprint-krk-2014.eventbrite.com/"
                  class="btn btn-primary btn-large">Register</a></p>
        </div>
        <div class="span4">
            <h2>Location</h2>

            <p><strong>Kraków, Wyczółkowskiego 7,
                <a href="https://getbase.com/" class="external">Base</a></strong></p>

            <p>This time we will be sprinting from spacious office just by the Błonia greens,
                a very convenient location. It located near the city center, just a
                short tram ride from the main station (Kraków Główny).</p>

            <p>Big thanks to Base for letting us in!</p>
            
        </div>

        <div class="span4">
            <h2>Map</h2>
            <p>Click on map below to see bigger version.</p>
            <p><a class="external" href="http://maps.google.pl/maps?q=Rynek+G%C5%82%C3%B3wny+17,+Krak%C3%B3w&hl=pl&ie=UTF8&ll=50.060578,19.93712&spn=0.001043,0.002401&sll=50.057505,19.907146&sspn=0.066787,0.153637&vpsrc=6&hnear=Rynek+G%C5%82%C3%B3wny+17,+Krak%C3%B3w,+ma%C5%82opolskie&t=m&z=19">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center=Rynek+G%C5%82%C3%B3wny+17,+Krak%C3%B3w&size=340x200&sensor=false&markers=Rynek+G%C5%82%C3%B3wny+17,+Krak%C3%B3w"
                        width="340" height="200"/>
            </a></p>
        </div>

    </div>
{% endblock %}
